@if (User.Identity.IsAuthenticated)
{
    <form method="post" class="form-check form-inline"  style="color:white" asp-action="Logout" asp-controller="Conta">
            Seja Bem-Vindo(a) @User.Identity.Name
        <button type="submit" class="ml-5 btn btn-link" style="color:white">Logout</button>
    </form>
}
else
{ 
    <a class="btn btn-link" style="color: white" asp-action="Login" asp-controller="Conta">Login</a>
}