@{
    ViewData["Title"] = "MeuDioSeries";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao Meu DIO Series</h1>
    <p>Para acessar a página com as séries cadastradas, clique no link Lista de Séries. Ele está presente na barra de navegação superior.</p>
    <p>A partir da listagem, você poderá Adicionar, Atualizar, Visualizar e Excluir séries.</p>
</div>
